.container {
	min-height: 100%;
	margin-bottom: -30px;
}

ul {
	list-style-type: none;
	margin-right: 20px;
	margin-top: 20px;
	padding-top: 5px;
	overflow: hidden;
}

.lil {
	float: right;
	font-size: .75em;
	padding-top: 6px;
}

#box {
	background-color: #F4F4F4;
	border-radius: 5px;
}

#box:hover {
	background-color: #E9EBE8;
}

#share {
	margin-bottom: 5px;
}

#share:hover {
	text-decoration: none;
	color: #404040
}

a:link, a:visited{
	display: block;
	width: 50px;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	color: #404040;
}

a:hover, a:active {
	color: black;
	text-decoration: underline;
}

#pic {
	height: 30px;
	width: 30px;
	border-radius: 50%;
}

#google {
	height: 100px;
	width: 250px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	padding-bottom: 10px;
}

#bar {
	margin-right: auto;
	margin-left: auto;
	display: block;
	width: 500px;
}

.search {
	padding-top: 100px;
}

#goog {
	list-style-type: none;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: hidden;
	text-align: center;
}

.button {
	padding: 5px;
	display: inline;
	font-size: .6em;
	color: #404040;
	background-color: #E9EBE8;
	border: 1px solid darkgrey;
}
